PORT=3000

POSTGRES_URL=<PostGres connection url>

JWT_SECRET=<JWT Secret Token>

GEMINI_API_KEY=<Gemini API Key>
GEMINI_MODEL=<Gemini model name>

DAILY_BASIC_PLAN_MESSAGE_LIMIT=<Daily Message limit for Basic Subscription Plan>

AWS_ACCESS_KEY=<Aws Access Key>
AWS_SECRET_KEY=<Aws Secret Key>
AWS_REGION=<Aws Region>
AWS_DB_HOST=<Aws DB Host>
AWS_DB_PORT=<AWS DB Port>
AWS_DB_USERNAME=<Aws DB User Name>
AWS_DB_PASSWORD=pos<Aws DB Password>
AWS_DB_NAME=<Aws DB Name>

STRIPE_API_KEY=<Strip API Key>

NODE_CACHE_TTL=<Node-cache TTL>