PORT=3000

POSTGRES_URL=<PostGres connection url>

JWT_SECRET=<JWT Secret Token>

GEMINI_API_KEY=<Gemini API Key>
GEMINI_MODEL=<Gemini model name>

DAILY_BASIC_PLAN_MESSAGE_LIMIT=<Daily Message limit for Basic Subscription Plan>
